@define-mixin button-primary {
	background-color: var(--wp--preset--color--blueprint-royal);
	border-radius: 0;
	font-size: var(--wp--preset--font-size--small);
	font-weight: var(--wp--custom--font-weight--bold);
	letter-spacing: var(--wp--custom--letter-spacing--small);
	text-transform: uppercase;
	transition: all 500ms ease;

	&:hover {
		background-color: var(--wp--preset--color--blueprint-primary);
	}
}

@define-mixin button-secondary-arrow {
	background-color: transparent;
	border-color: transparent;
	color: var(--wp--preset--color--blueprint-primary);
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	padding: 0;
	text-decoration: none;
	text-transform: uppercase;

	&::after {
		background-color: var(--wp--preset--color--blueprint-royal);
		content: "";
		display: inline-block;
		height: 10px;
		margin-left: 0.5em;
		mask-image: url("../svg/icon-arrow-right.svg");
		transform: translateX(0);
		transition-duration: 300ms;
		transition-property: background-color, transform;
		width: 20px;
	}

	&:hover,
	&:focus {

		&::after {
			background-color: var(--wp--preset--color--blueprint-aqua-blue);
			transform: translateX(0.25rem);
		}

	}
}